.menu-tree,
.menu-tree ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu-tree {
  padding-left: 1em;
}

.menu-tree li {
  position: relative;
  padding-top: .3em;
}

.menu-tree ul {
  padding-left: 1.5em;
}

.toggle {
  font-size: 1em;
  position: absolute;
  left: -1em;
}
.toggle::before {
  content: "+";
}
.toggle.show::before {
  content: "-";
}

.menu-tree ul {
  display: none;
}
.toggle.show + label + ul {
  display: block;
}
