{#
/**
 * @file
 * Template for a tree element.
 *
 * Available variables:
 * - id: Element ID.
 * - menus: Array of menu id's.
 * - exclude: Id of menu item to exclude.
 */
#}

{% macro menuToggle(items) %}
  {% if items is not empty %}
    <span class="toggle"></span>
  {% endif %}
{%- endmacro %}

{% macro menuTree(items, menu_id) -%}
  {% if items is not empty %}
  <ul>
    {% for menu_item in items %}
      <li>
        {{ _self.menuToggle(menu_item.submenu) }}
        <label><input type="radio" name="menu_tree" value="{{ menu_item.id }}"> {{ menu_item.text }}</label></a>
        {{ _self.menuTree(menu_item.submenu, menu_id, exclude) }}
      </li>
    {% endfor %}
  </ul>
  {% endif %}
{%- endmacro %}

<div id="{{ id }}">
  <form>
  {% for menu_id in menus %}
    {% set items = menu_tree(menu_id, exclude) %}
    <ul class="menu-tree">
      <li>
        {{ _self.menuToggle(items.menu_tree) }}
        <label><input type="radio" name="menu_tree" value="{{ menu_id }}:"> {{ items.label }}</label></a>
        {{ _self.menuTree(items.menu_tree, menu_id) }}
      </li>
    </ul>
  {% endfor %}
  </form>
</div>
